.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}

.input {
    width: 210px;
    height: 40px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid white;

    background-color: black;
    color: white;
}