.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 15px;

    margin-bottom: 40px;
}

.item {
    width: 300px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}